header {
   min-height:10px;
   background-color:#009975 ;
   padding: 5px 20px;
}

header h1 {
text-align: center;

}


body {

    background-image: url("https://static.vecteezy.com/system/resources/previews/020/617/567/non_2x/single-continuous-line-drawing-of-hand-writing-gesture-with-ink-and-quill-pen-on-whiteboard-retro-handwriting-concept-trendy-one-line-draw-graphic-design-illustration-vector.jpg") 


}

ul {
    list-style: none;
    text-align: center;
}

.word {
    border: 1px solid black;
    width: 100px;
    background-color: #fdddca;
    display: inline;
    margin: 0px 5px;
    padding: 3px;
}



textarea[name="user-input"]
    {
    vertical-align: top;
    background-color:#fdddca;
}

 #reset-button {
background-color:#fdddca;

}


footer {
    
    background-color: #009975;
    padding: 2em 0;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
