header {
   min-height:10px;
   background-color: rgb(143, 242, 242);
   padding: 5px 20px;
}

header h1 {
text-align: center;

}


body {

    background-color: azure;

}

ul {
    list-style: none;
    text-align: center;
}

.word {
    border: 1px solid black;
    width: 100px;
    background-color: beige;
    display: inline;
    margin: 0px 5px;
    padding: 3px;
}



textarea[name="user-input"]
    {
    vertical-align: top;
    background-color: rgb(143, 242, 242);
}

 #limpiarTexto {
background-color:beige;

}


footer {
    
    background-color: aqua;
    padding: 2em 0;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
